@import "less/reset.less";

@font-face {
    font-family: 'KaushanScriptRegular';
    src: url('../font/kaushanscript-regular-webfont.eot');
    src: url('../font/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/kaushanscript-regular-webfont.woff') format('woff'),
         url('../font/kaushanscript-regular-webfont.ttf') format('truetype'),
         url('../font/kaushanscript-regular-webfont.svg#KaushanScriptRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BubblegumSansRegular';
    src: url('../font/bubblegumsans-regular-webfont.eot');
    src: url('../font/bubblegumsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bubblegumsans-regular-webfont.woff') format('woff'),
         url('../font/bubblegumsans-regular-webfont.ttf') format('truetype'),
         url('../font/bubblegumsans-regular-webfont.svg#BubblegumSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Core variables and mixins
@import "less/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "less/mixins.less";

// Base CSS
@import "less/type.less";
@import "less/code.less";
@import "less/forms.less";
@import "less/tables.less";
@import "less/buttons.less";

// Grid system and page structure
@import "less/scaffolding.less";
@import "less/grid.less";
@import "less/layouts.less";

// Components: common
//@import "less/sprites.less";
//@import "less/dropdowns.less";
//@import "less/wells.less";
//@import "less/component-animations.less";

body{
	margin: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
#main{
	margin:55px auto 0;
}

#connect-block{
	margin:10px 0 0 0;

	span{
		display: block;
		float: left;
		margin: 0 10px 0 0;
	}

	a.btn-connect {
	    background: url(../images/instagram_connect.png) no-repeat transparent;
	    cursor: pointer;
	    display: block;
	    float: right;
	    height: 29px;
	    margin: 0;
	    overflow: hidden;
	    text-indent: -9999px;
	    width: 200px;
	    margin-top: -5px;

	    &:hover{
	    	 background-position: 0 -29px;
	    }
	}
}


ul, ol{
	margin:0;
	padding:0;
	border:none;
	list-style-type:none;
}

.image-list li {
	float:left;
	margin-right:10px;
}

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}


.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .linenums .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
} 
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}

// Components: Nav
@import "less/navs.less";
@import "less/navbar.less";
@import "less/breadcrumbs.less";
@import "less/pagination.less";
@import "less/pager.less";
@import "less/masonry.less";

@import "less/modals.less";
@import "less/close.less";

@import "custom/widget.less";
@import "custom/colorpicker.less";


/* Responsive */
@import "less/responsive-utilities.less";
// ------------------
// Phones to portrait tablets and narrow desktops
@import "less/responsive-767px-max.less";

// Tablets to regular desktops
@import "less/responsive-768px-979px.less";

// Large desktops
@import "less/responsive-1200px-min.less";

// RESPONSIVE NAVBAR
// ------------------
// From 979px and below, show a button to toggle navbar contents
@import "less/responsive-navbar.less";
