.avatar-xsmall, 
.account-state>ul>li img, 
.avatar-xsmall img, 
.account-state>ul>li img img {
    width: 22px;
    height: 22px;
}

.avatar-small, 
.like-avatar, 
.comment-avatar, 
.avatar-small img, 
.like-avatar img, 
.comment-avatar img {
    width: 30px;
    height: 30px;
}

.avatar-medium, 
.user-avatar, 
.avatar-medium img, 
.user-avatar img {
    width: 40px;
    height: 40px;
}

.avatar-medium, 
.user-avatar, 
.avatar-medium b, 
.user-avatar b {
    .border-radius(4px);
}

.avatar-large, 
.avatar-large img {
    width: 70px;
    height: 70px;
}

.avatar-large, 
.avatar-large b {
    .border-radius(4px);
}

.avatar-profile, 
.avatar-profile img {
    width: 110px;
    height: 110px;
}

.avatar-profile, 
.avatar-profile b {
    .border-radius(3px);
}

.img-outset, 
.img-inset, 
.page-media .current-user-avatar {
    background: none;
}

.img-outset img, 
.img-inset img,
.page-media .current-user-avatar img {
    width: auto;
    display: block;
    visibility: visible;
}
@media screen and (min-width: 0px) {
    .img, 
    .img-outset, 
    .img-inset, 
    .page-media .current-user-avatar {
        position: relative;
        display: inline-block;

        b {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%
        }
    }   

    .img img {
        display: block;
        visibility: hidden;
    }
    
    .img-outset, 
    .img-inset, 
    .page-media .current-user-avatar {
        .border-radius(3px);
        background: no-repeat 0 0;
        .background-size(100%);

        img {
            display: block;
            visibility: hidden;
        }

        b {
            .border-radius(2px);
        }
    }

    span.img-inset, 
    .page-media span.current-user-avatar {
        @var_shadow : 0 1px 0 rgba(255, 255, 255, 0.4),  0 1px 0 1px rgba(255, 255, 255, 0.1);
        .box-shadow(@var_shadow);

        b {
            @var_shadow : inset 0 0 0 1px rgba(0, 0, 0, .15),  inset 0 0 2px 0 rgba(0, 0, 0, .2);
            .box-shadow(@var_shadow);
        }
    }

    span.img-outset {
        @var_shadow : 0 0 0 1px rgba(0, 0, 0, .1),  0 1px 2px rgba(0, 0, 0, .2);
        .box-shadow( @var_shadow );

        b {
            @var_shadow : inset 0 0 0 1px rgba(255, 255, 255, .1),  inset 0 1px 0 rgba(255, 255, 255, .3);
            .box-shadow(@var_shadow);
        }
    }
}
/*

.map .avatar {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    box-shadow: 1px 1px rgba(1, 2, 2, 0.18);
    cursor: pointer;
    display: inline-block;
    height: 60px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    position: relative;
    width: 60px;
}
.map .avatar:hover {
    -moz-transition-delay: 0s;
    -moz-transition-duration: 0.3s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
    box-shadow: 1px 3px 3px rgba(1, 2, 2, 0.18);
    top: -2px;
}
.map .avatar img {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 60px;
    width: 60px;
}
.map .avatar.highlight {
    -moz-transition-delay: 0s;
    -moz-transition-duration: 0.3s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #F15623;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
.map .filter .highlight {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
.map .presenter {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #E7E7E7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #E7E7E7;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #E7E7E7;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #E7E7E7;
    border-top-style: solid;
    border-top-width: 1px;
    display: none;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    position: relative;
    width: 600px;
}
*/